html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    background: #18181d;
}
  
::-webkit-scrollbar-thumb {
    background: #6580b1;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #7298da;
}

.tamil {
	font-family: "Hind Madurai";
}

.english {
	font-family: "Changa";
}

.cover {
	background-color: #f0da1a;
	color: black;
	font-family: "Hind Madurai";
	padding: 40px 80px;
	padding-top: 100px;
}

.content {
	padding: 40px 80px;
	min-height: 100vh;
}

.cover h1 {
	margin: 0;
	font-size: 60px;
}

.cover p {
	margin: 0;
}

.cover input {
	outline: none;
	border-radius: 4px;
	border: none;
	padding: 7px 7px;
	margin-top: 5px;
	width: 100%;
	font-size: 18px;
	font-family: "Hind Madurai";
}

.content p {
	margin: 0;
}

.kural-line {
	font-weight: bold;
	font-size: 20px;
}

.kural-box {
	padding: 20px;
	border-radius: 6px;
	border: 2px dotted #f0da1a;
	margin-top: 20px;
}

.kural-button {
	cursor: pointer;
	margin: 12px 5px;
	background-color: #f0da1a;
	color: black;
	padding: 5px;
	min-width: 25%;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	font-family: "Hind Madurai";
}

.vilakam {
	margin-top: 18px;
	border-left: 4px solid #f0da1a;
	padding-left: 5px;
}

.vilakam .kural-bold {
	font-weight: bold;
}

.vilakam .kural-english {
	margin-top: -10px;
}

/* .tlp {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
	display: block;
}  */

.bth-link p {
	display: inline-block;
	color: black;
	cursor: pointer;
	font-weight: bold;
}

.bth-link {
	text-decoration: none;
}

.bth-link:hover, .bth-link:hover p {
	text-decoration: underline;
}

.translated {
	display: inline-block;
	color: black;
	line-height: 1.5;
}

.indices h1 {
	margin-bottom: 10px;
}

.indices h3, .indices h4, .indices h5, .indices h1 {
	margin: 0;
	cursor: pointer;
}

.indices h3:hover, .indices h4:hover, .indices h5:hover {
	text-decoration: underline;
}

.indices h4 {
	margin-left: 10px;
}

.indices h5 {
	margin-left: 22px;
}

.indices h3 {
	margin-top: 5px;
}

.indices h4 {
	margin-top: 5px;
}

.footer {
	padding: 40px 80px;
	background-color: #f0da1a;
	color: black;
}

.footer p {
	margin: 0;
}

.footer a {
	color: black;
	font-weight: bold;
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.indices h3, .indices h4 {
	font-weight: bold;
}

@media (max-width: 500px) {
	.cover, .content, .footer {
		padding: 30px 60px;
	}

	.cover h1 {
		font-size: 40px;
	}

	.kural-button {
		width: calc(100% - 20px);
		font-size: 14px;
		margin-bottom: 0;
	}
}